<h1>Burgers!</h1>

<form class="create-form">

  <div class="form-group">
    <textarea name="burger" ide="burgername"></textarea>
    <button type="submit">Add Burger</button>
  </div>

  
</form>

<h2>Burgers waiting to be devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>



